/* CSS */
@media screen and (max-width: 1024px) {
   /*estilos*/
}

/*Tags*/

p{
	color: #FFFFFF;
	font-size: 20px;
	font-family: Helvetica, Arial;
	text-shadow: 1px 1px 1px #191970;
	text-align: center;
}

body{
	background-image: url('clouds.jpg');
}

header{
	background-color: #1E90FF;
	min-height: 120px;
	padding: 10px;
}
footer{
	clear: both;
	background-color: #1E90FF;
	min-height: 30px;
	text-align: center;
	padding: 5px;
}

*{
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: Heveltica, Arial;
}

h1{
	color: #87CEEB;
	text-align: center;
	padding: 30px 0px 0px 0px;
	margin: 0 0 50px 0;
	text-shadow: 1px 1px 1px #191970;
}

html{
	scroll-behavior: smooth;
}

h2{
	color: #FFFFFF;
	text-align: center;
	text-shadow: 1px 1px 1px #191970;
}

/*IDS*/

#principal{
	clear: both;
	background-image: url('clouds.jpg');
	background-size: 100%;
}


#home a{
	float: left;
	padding: 30px;
	margin: 0px 50px 0px 0px
}

#home a:hover{
	transform: scale(1.2);
	color: #000000;
   	-webkit-transition: 0.35s;
   	filter: invert(100%) sepia(100%) saturate(4000%) hue-rotate(50deg) brightness(100%) contrast(100%);
}

#home p{
	visibility: hidden;
	float: left;
}

#home:hover p{
	visibility: visible;
	color: #FFFFFF;
   	-webkit-transition: 0.5s;
   	filter: invert(100%) sepia(100%) saturate(4000%) hue-rotate(50deg) brightness(100%) contrast(100%);
}

#serviços a{
	float: left;
	padding: 30px;
}
#serviços a:hover{
	transform: scale(1.2);
	color: #000000;
   	-webkit-transition: 0.35s;
   	filter: invert(100%) sepia(100%) saturate(4000%) hue-rotate(50deg) brightness(100%) contrast(100%);
}

#serviços p{
	visibility: hidden;
	float: left;
}

#serviços:hover p{
	visibility: visible;
	color: #FFFFFF;
   	-webkit-transition: 0.5s;
   	filter: invert(100%) sepia(100%) saturate(4000%) hue-rotate(50deg) brightness(100%) contrast(100%);
}

#logo{
	float: left;
	margin-left: 1%;
	padding: 0px 50px;
}

#quem a{
	float: left;
	padding: 30px;

}
#quem a:hover{
	transform: scale(1.2);
	color: #000000;
   	-webkit-transition: 0.35s;
   	filter: invert(100%) sepia(100%) saturate(4000%) hue-rotate(50deg) brightness(100%) contrast(100%);
}

#quem p{
	visibility: hidden;
	float: right;
	color: #000000;
}

#quem:hover p{
	visibility: visible;
	color: #FFFFFF;
   	-webkit-transition: 0.2s;
   	filter: invert(100%) sepia(100%) saturate(4000%) hue-rotate(50deg) brightness(100%) contrast(100%);
}
#fale a{
	float: left;
	padding: 30px;
	margin: 0px 0px 0px 50px;
}
#fale a:hover{
	transform: scale(1.2);
	color: #000000;
   	-webkit-transition: 0.35s;
   	filter: invert(100%) sepia(100%) saturate(4000%) hue-rotate(50deg) brightness(100%) contrast(100%);
}

#fale p{
	visibility: hidden;
	float: right;
}

#fale:hover p{
	visibility: visible;
	color: #FFFFFF;
   	-webkit-transition: 0.5s;
   	filter: invert(100%) sepia(100%) saturate(4000%) hue-rotate(50deg) brightness(100%) contrast(100%);
}

#conosco a{
	padding: 10px;
	filter: saturate(100%) brightness(50%) contrast(100%);
}
#imge{
	min-height: 200px
	width: 50%;
	float: left;
}
#imgd{
	min-height: 200px
	width:50%;
	float: right;
}
#imgm{
	padding:0px 20px 20px 20px;
}
/*CLASS*/
.container{
	width: 960px;
	margin:0 auto;
}

.efeito{
	background-color: rgba(0, 0, 0, 0.25);
	padding: 0px 0px 50px 0px;
}
.efeito1{
	background-color: rgba(100, 100, 100, 0.25);
	padding: 0px 0px 50px 0px;
}

.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #27ae60;
  bottom: 40px;
  right: 50px;
  border-radius: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}

.gotopbtn:hover{
	background: #00FA9A;
	transform: scale(1.1);
	-webkit-transition: 0.5s;
}

.gotopbtn img{
	padding: 10px;
}